<%- include("partials/header.ejs") %>

<div class="index">
  <h1 class="home">Home Page</h1>
  <div class="btn-toolbar">
    <a class="btn btn-info btn-lg" href="/register" style="margin-right: 10px"
      >Register</a
    >
    <a class="btn btn-success btn-lg" href="/login">Login</a>
  </div>
</div>
