<%- include("partials/header.ejs") %>
<div class="index">
  <div class="row">
    <div class="col-sm-8">
      <div class="card-body">
        <h1>Login</h1>
        <form action="/login" id="form" class="form" method="POST">
          <label for="user_id">User_ID*</label>
          <input
            type="text"
            id="user_id"
            name="user_id"
            placeholder="5123"
            class="form-control"
            style="margin-bottom: 10px; margin-right: 10px"
            required
          />

          <label for="password">Password*</label>
          <input
            type="text"
            id="password"
            name="password"
            placeholder="johnlovescake"
            class="form-control"
            style="margin-bottom: 10px"
            required
          />
          <div class="btn-toolbar">
            <a href="/" class="btn btn-secondary" style="margin-right: 10px"
              >Cancel</a
            >
            <button type="submit" class="btn btn-success">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
