<%- include("partials/header.ejs") %>

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        <h1>Register</h1>
                        <form action="/register" id="form" class="form" method="POST">
                            <label for="user_id">User_ID</label>
                            <input type="text" id="user_id" name="user_id" placeholder="5123" class="form-control" style="margin-bottom: 10px;">

                            <label for="username">Username</label>
                            <input type="text" id="username" name="username" placeholder="johndoe" class="form-control">

                            <label for="password">Password</label>
                            <input type="text" id="password" name="password" placeholder="johnlovescake" class="form-control" style="margin-bottom: 10px;">

                            <a href="/" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    